body {
  background-color: #F3F9D2;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 75px;
  letter-spacing: 1px;
  color: #d35400;
}

h4 {
  font-family: 'Ultra', serif;
  font-size: 15px;
  letter-spacing: 1px;
}
.row-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;

}

.padding20 {
  padding: 20px;
}




#map {
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
  position: relative;
}

/*.circle {
  position: absolute;
  align-items: center;
  justify-content: space-around;
}*/

#circle {
  position: absolute;
  top: 290px !important;
  left: 620px;
  top: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #C1F7DC;
  opacity: .5;
  margin: 0 auto;
}


